<style type="text/css">
    #dialog-content {
        padding: 10px;
    }

    #dialog-content h2 {
        text-align: center;
    }
</style>
<div id="dialog-content"><h2>AUI Inline Dialog</h2></div>