#hovering-element {background-color:yellow; color:green;}
#hovering-element .child-element { display:none; }
#hovering-element:hover .child-element { display:block; }

main {
    display: flex;
    justify-content: space-between;
}